.wy-nav-content {
    max-width: none;
}

.wy-nav-side {
    width: 20%;
}

.wy-side-scroll{
    width:100%;
}

.wy-side-nav-search {
    width: 100%;
}

.wy-menu-vertical {
    width: 100%;
}

.wy-nav-content-wrap {
    margin-left: 20%;
}

.rst-versions {
    width: 100% !important;
}